.navbar {
    font-weight: normal;
}

.map, .userMap {
    height: 400px;
    width: 100%;
    margin: .5em;
}

#info {
    position: absolute;
    height: 1px;
    width: 10px;
    z-index: 100;
}
.tooltip.in {
    opacity: 1;
}
.tooltip.top .tooltip-arrow {
    border-top-color: white;
}
.tooltip-inner {
    border: 2px solid white;
    white-space:pre-line;
    max-width: none;
    text-align: left;
}

table td {
    font-size: 1rem;
    font-weight: 400;
}

form {
    margin-top: 9%;
}

.divider {
    border:  .02em solid #6c757d !important
}

footer {
    background-color: #343a40 !important;
    color: white;
    display: block;
    margin-top: 10em;
}

.location-options {
    cursor: pointer;
}

.location-current,
.location-manual{
    display: none;
}

#time {
    height: 1em;
}

.time-buttons {
    display: flex;
    flex-flow: column;
}

